<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>{message_title}</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body style="font-family:Tahoma, sans serif;">

	<table style=" background:#FFFFFF;border: 1px #dadada solid;width:1050px; cellpadding:0px; cellspacing:0px;border-left: 8px solid #339999;border-right: 8px solid #339999;">
		<tr>
			<td>
				<table>
					<tr>
						<td style="padding: 10px 7px 10px 20px;font-family:Tahoma, sans serif;">Hi {person_name},</td>
					</tr>
					<tr>
						<td style="padding: 10px 7px 10px 20px;font-family:Tahoma, sans serif;">{message_title}</td>
					</tr>
				</table>
			</td>
			<td colspan="3" style="text-align:center">
				<img src="{domain_logo}" alt="Domain Logo" />
			</td>
		</tr>

		
		
		<tr>
			<td colspan="2">
				<table style="font-family:Tahoma, sans serif;background:#ffffff; margin-left:20px;width: 96%;border: 1px solid #A3A3A3;">
					<tr>
						<td width="10%" style="vertical-align:top;">
							<table cellspacing="4" cellpadding="8">
								<tr>
									<td style="text-align:center;">
										<img  style="" src="http://gnuv2-test.manipaltech.net/sites/all/themes/edunxt/images/Announce.png" alt="Announcement">
									</td>
								</tr>
								<tr>
									<td style="font-family:Tahoma, sans serif;font-size:18px;">Announcement</td>
								</tr>
							</table>
						</td>
						<td width="70%">
							<table cellspacing="4" cellpadding="8">
								<tr>
									<td style="font-family:Tahoma, sans serif;padding-bottom:10px;border-bottom: 1px dotted #ccc;font-size:15px;">Title</td>
								</tr>
								<tr>
									<td style="font-family:Tahoma, sans serif;font-size:18px;">{title}</td>
								</tr>
								<tr>
									<td style="font-family:Tahoma, sans serif;padding-bottom:10px;border-bottom: 1px dotted #ccc;font-size:15px;">Description</td>
								</tr>
								<tr>
									<td style="font-family:Tahoma, sans serif;font-size:14px;text-align:justify;">{description}</td>
								</tr>
							</table>
						</td>
						<td width="20%" style="vertical-align:top;">
							<table cellspacing="4" cellpadding="8">
								<tr>
									<td style="font-family:Tahoma, sans serif;padding-bottom:10px;border-bottom: 1px dotted #ccc;font-size:15px;">Created By</td>
								</tr>
								<tr>
									<td style="font-family:Tahoma, sans serif;font-size:15px;">{created_by}</td>
								</tr>
								<tr>
									<td style="font-family:Tahoma, sans serif;padding-bottom:10px;border-bottom: 1px dotted #ccc;font-size:15px;padding-top:12px;">Section</td>
								</tr>
								<tr>
									<td style="font-family:Tahoma, sans serif;font-size:15px;">{section_name}</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="font-family:Tahoma, sans serif;font-size:13px;padding: 20px 7px 20px 20px;">{notice}</td>
		</tr>
	</table>
</body>
</head>
</html>
